.active {
  background-color: rgb(15, 40, 148);
  color: #fff;
}
.page-item {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
